/*
=============================================
General
=============================================
*/

body {
    display: grid;   
    justify-content: center;
    padding-top:5vh;
    margin:0;
}
.main-content{
    justify-content: center;
    display: flex;
    text-align: center;
}

.container {
    display: inline-block;
}
.dark,
.dark * {
    background-color: #001B48;
    color: #D6E8EE;
    border-color: #D6E8EE;
}

.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

/*
=============================================
Buttons
=============================================
*/

button {
    width:fit-content;
}

.large-btn {
    display: inline-block;
    background-color: #97CADB;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

#hide-btn {
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   color: white;
   border-radius: 5px;
   padding: 0 0.3rem;
   background-color: #97CADB;
}

.large-btn:focus {
    outline: none;
}

.large-btn:active {
    transform: scale(0.98);
}


.hide-btn-container {
    margin-left: auto;
}



/*
=============================================
Sign Up and Login Page
=============================================
*/ 

/* Large Screens */
.login-form {
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

.input-field {
    border:none;
    border-bottom:solid thin;
    padding: 5px;
    margin: 2px;
    /* */
    width: 400px ;
}

.personalizedLabel {
    text-transform: capitalize;
    font-size: small;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0%;
    margin-top: 0.88rem;
}


#intro-- {
    font-style: italic;
}

.raise-box {
    padding: 10px;
    border: 1px solid #97CADB;
    box-shadow:  -1px 1px #97CADB,
         -2px 2px #97CADB,
         -3px 3px #97CADB,
         -4px 4px #97CADB,
         -5px 5px #97CADB;
}

#title {
    display: flex;
    justify-content: center;
    color: #018ABE;
    font-style: italic;
    font-weight: 900;
}


.sub-container {
    margin-top: 1rem; 
    padding: 2rem 4rem;
    border: 2px solid #97CADB;
    border-radius: 2rem;
}

/* Small Screens */



/*
=============================================
Navigation 
=============================================
*/

.top {
    top: 0;
    position:absolute;
    width:100%;
}
.siteName {
    font-size:25px;
}
.navBar {
    display:flex;
    justify-content: space-between;
    background-color: #97CADB;
    color:black;
    max-height: 5vh;
}

.navElement {
    text-align: center;
    padding: 1vh;
    margin-left:10px;
    background-color: #97CADB;
    color:black;
}


.navText {
    font-size:20px;
    text-decoration-line: none;
    color: black;
    background-color: #97CADB;
}

.navText:hover {
    color:grey;
    cursor: pointer;
}

.navLinks {
    display:flex;
    background-color: #97CADB;
    color:black;
}

/*
=============================================
Footer
=============================================
*/

/* Large Screens */
.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #97CADB;
    color:black;
    margin-top: 2rem;
    border-top: 2px solid #97CADB ;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    background-color: #97CADB;
    color:black;
}

.footer-container > p > a, 
.footer-nav-links {
    text-decoration: none;
    font-size: small; 
    font-style: italic;
    background-color: #97CADB;
    color:black;
}

.footer-container > p > a:hover, 
.footer-nav-links:hover {
    color: black;
}

.built-by{
    padding-left:10px;
    background-color: #97CADB;
    color:black;
}

#logo {
    font-size: medium;
}

#date {
    background-color: #97CADB;
    color:black;
}

/* Small Screens */

@media screen and (max-width:1000px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
    }

}



/*
=============================================
Entry Form
=============================================
*/
.entry-container {
    display: none;
    border: 1px solid #97CADB;
    position: absolute;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    margin-top:5px;
}



/*
=============================================
About page
=============================================
*/
