/*
=============================================
Sign Up and Login Page
=============================================
*/ 

body {
    justify-content: center;
    display: grid;   
}

button {
    width:fit-content;
}

.login-form{
    align-items: center;
    display: inline-grid;
    justify-content: center;
}

.input-field {
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

#email{
    margin-left:2.55vh;
}

/* experimental */
.personalizedLabel {
    text-transform: capitalize;
    font-size: small;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0%;
    margin-top: 0.88rem;
}

.hide-btn-container {
    margin-left: auto;
}
